/*
 * 使用 :root 可以最高效地为全局CSS变量重新赋值
 */
:root {
  /*
   * 看这里！我们把 "center center" 修改为了 "center top"
   * center top 的意思是：水平方向依然居中，但垂直方向请对齐到顶部！
   */
  --global-bg: url(/img/cover/zyp.jpeg) no-repeat 50% 20% fixed !important;
}

/*
 * 为了确保图片能自动拉伸以覆盖整个屏幕，再加一个保险规则
 */
body {
  background-size: cover !important;
}


#page-header {
  background: transparent !important;
}


/* 小冰分类分类磁铁黑夜模式适配 */
/* 一般状态 */
[data-theme="dark"] .magnet_link_context {
  background: #1e1e1e;
  color: antiquewhite;
}
/* 鼠标悬浮状态 */
[data-theme="dark"] .magnet_link_context:hover {
  background: #3ecdf1;
  color: #f2f2f2;
}


/* 翻页按钮居中 */
#pagination {
  width: 100%;
  margin: auto;
}


